# Unity generated
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Rider / VS
.idea/
.vs/
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.tmp

# OS
.DS_Store
Thumbs.db
